@model CineShartest.Models.Asiento
@{
    ViewData["Title"] = "Eliminar Asiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar Asiento</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="getDeleteAsiento">

                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NrAsie"></label>
                    <input asp-for="NrAsie" class="form-control" placeholder="Número de Asiento">
                    <span asp-validation-for="NrAsie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdSala"></label>
                    <input asp-for="IdSala" class="form-control" placeholder="Sala">
                    <span asp-validation-for="IdSala" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodEst"></label>
                    <input asp-for="CodEst" class="form-control" placeholder="Estado">
                    <span asp-validation-for="CodEst" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{<partial name="_ValidationScriptsPartial" />}
}