@model CineShartest.Models.Cine
@{
    ViewData["Title"] = "Nuevo Cine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="Add">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear Cine</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="getAdd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomEmp"></label>
                    <input asp-for="NomEmp" class="form-control" placeholder="Empleado">
                    <span asp-validation-for="NomEmp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DirCine"></label>
                    <input asp-for="DirCine" class="form-control" placeholder="Dirección">
                    <span asp-validation-for="DirCine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodCiudad"></label>
                    <input asp-for="CodCiudad" class="form-control" placeholder="Ciudad">
                    <span asp-validation-for="CodCiudad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}